
/* search box */
#myInput {
  font-size: 20px;
  overflow: hidden; 

  
}

/* --- style of firmly added categories----*/


#fixedMenuUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#fixedMenuUL li button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
		width: 100%;
}



#fixedMenuUL li button:hover:not(.header) {
  background-color:  #8eb8f5;
}




/* --- style of generated categories ----*/
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


#myUL li button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
		width: 100%;
}



#myUL li button:hover:not(.header) {
  background-color:  #8eb8f5;
}


/* ------ end of style of generated categories ------- */



/* basic theme change on spec page*/
#masthead {
padding-bottom: 12px !important;
}


#load
{
        background-color: orange;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
		width: 100%;
}

#load_previous
{
        background-color: orange;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
		width: 100%;
}



/* Add an active class to the active dropdown button */
.dropdown-btn {
        background-color: white;
        border: none;
        color: black;
        padding: 20px 34px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
		width: 100%;
		outline: none;
		
}
		


/* Add an active class to the active dropdown button 
.active {

}
*/

.dropdown-btn:hover:not(.header) {
  background-color:  white;
  border: none;
  outline: none;
}

.dropdown-btn:hover:not(.header) {
	  background-color:  white;
	  border: none;
	  outline: none;
}

.dropdown-btn:focus:not(.header) {
	  background-color:  white;
	  border: none;
	  outline: none;
}



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
 /* background-color: #262626;
  padding-left: 8px;*/
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}


/* -------------  End of dropdown sidebar  ---------------------*/
